 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
        
body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #fceaff 0%, #e2b6f3 100%);
    min-height: 100vh;
}

.glass-card {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.purple-gradient {
    background: linear-gradient(90deg, #c084fc 0%, #a855f7 100%);
}

.search-pill {
    transition: all 0.3s ease;
}

.search-pill:hover {
    transform: translateX(5px);
    filter: brightness(1.1);
}

.bg-dark-space {
        background-color: #0f172a; /* Azul marinho profundo */
        background-image: url('img/pattern-dots.png'); /* Opcional: padrão de pontos do Arlan */
}

.glass-card-2 {
    background: rgba(51, 51, 123, 0.607);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(33, 25, 72, 0.577);
}
